


 <p class="textHeading">Our Staff:</p>

<p class="textCartHeading">Maryna Moskalenko<br />Founder and President</p>
<p class="textSimple">Maryna is the creative force behind QLine. Maryna's eye for style brings a distinctly European flair to QLine.
An avid Web developer, Maryna was also the driving force behind the development of the QLine web store. Working
in the revolutionary Ruby on Rails framework, Maryna and her team are proud to bring you QLine web store.  </p>

<p class="textCartHeading">Anton Kitets<br />Vice-President, Sales and Business Development</p>
<p class="textSimple">Anton is QLine's version of Donald Trump (minus the terrible hair!). A successful computer scientist, Anton 
has now set his sights on turning QLine's web store into a global enterprise. To maximize profits, Anton has 
developed a user-friendly, secure and efficient authentication system for the web store.</p>

<p class="textCartHeading">Bria Lubiens<br />Vice-President, Customer Relations and Experience</p>
<p class="textSimple">Bria is QLine's ear to the public. Already a widely-respected public speaker, Bria is now using her people skills to promote QLine's web store. Her primary goal is to ensure QLine remains a customer-driven enterprise, a place 
where customer-company communications flow like water. To ensure the lines of communication are always open, Bria
developed QLine's admin interface and messaging system.</p>

<p class="textCartHeading">Radhey Shah<br />Vice-President, Purchasing and Acquisitions</p>
<p class="textSimple">Radhey is the habitual shopkeeper behind QLine. A life in retail and customer service left Radhey apprehensive about taking QLine to the Web, but he soon changed his attitude as he developed QLine web store's shopping cart feature. 
Radhey's goal was to create a fluid and streamlined shopping experience.</p> 

<p class="textCartHeading">Roman Vladinsky<br />Vice-President, Outer Communications</p>
<p class="textSimple">Roman likes everything to be straight forward, keep things simple and customer oriented. He is the key person in Software Design to provide high level feedback and assure that everything flows smoothly. To keep our customes up to date with information about QLine and promotions offered by the company, Roman developed highly reliable email system.</p> 
