
 <p class="textHeading">Resources Used:</p><br />
<p class="textCartHeading">Development Resources:</p>
<p class="noteText">RailsCasts- http://railscasts.com/<br />
bitnami RubyStack- bitnami.org/stack/rubystack/ <br />
'Agile Web Development with Rails' -Sam Ruby: Pub.2011(Pragmatic Programmers)<br /> 
MySQL- http://dev.mysql.com/<br />
Alwaysdata.com - French-based hosting company; offers shared hosting, but also managed dedicated hosting.
mooo.com- dynamic DNS domain sharing project.</p><br />

<p class="textCartHeading">Image and Content Resources:</p>
<p class="noteText">
Text content is all original (except of Home page image rotator text contents), images were sourced through Google Image search. This site is strictly
designed for a course project, any copyright infringement is unintentional, and content will be 
removed upon request.</p>
