<p style="color: #424242;font-size: 12pt;font-variant: small-caps;text-align: center;font-family: Georgia;">
	Dear &nbsp;<%=@user.user_name%><br />
	Welcome to QLine<br />
    Please send any concerns to this email address
</p>
<hr />
