
<div id="categMenu">
 <ul>
  <li class="menuHeading">MEN:</li>     
  <li class="textMenuHeading"><%= link_to "Sweaters", show_path(:category_id => "Sweaters")  %></li>
  <li class="textMenuHeading"><%= link_to "Shirts", show_path(:category_id => "Shirts")  %></li>
  <li class="textMenuHeading"><%= link_to "T-Shirts", show_path(:category_id => "TShirtM")  %></li>
  <li class="textMenuHeading"><%= link_to "Men Shoes", show_path(:category_id => "ShoesM")  %></li>
 </ul>
</div>

