
<div id="categMenu">
 <ul>
  <li class="menuHeading">WOMEN:</li>
  <li class="textMenuHeading"><%= link_to "Cardigans", show_path(:category_id => "Cardigans") %></li>
  <li class="textMenuHeading"><%= link_to "Skirts", show_path(:category_id => "Skirts") %></li>
  <li class="textMenuHeading"><%= link_to "Dresses", show_path(:category_id => "Dresses") %></li>
  <li class="textMenuHeading"><%= link_to "Women Shoes", show_path(:category_id => "ShoesW") %></li>
 </ul>
</div>

